body{
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.todo-container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.todo-header{
  text-align: center;
  margin-bottom: 20px;
}

.todo-list{
  list-style: none;
  padding: 0;
  margin : 0;
}

.todo-list li{
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.todo-list li:last-child{
  border-bottom: none;
}

.todo-form{
margin-top: 20px;
}

#todo-input{
  width: 70%;
  padding: 10px ;
  border: 1px solid #ccc;
}

#add-todo-btn{
  width: 30%;
  padding:10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#add-todo-btn:hover{
  background-color:#3e8e41 ;
}